body {
    font-family: sans-serif;
}

.blue-background {
    color: blue;
}
.maket {
    font-size: 20px;
    padding: 20px;
    margin: 20px;
    border: 1px solid black;
    border-radius: 15px;
}
p img {
    border-left: 10px dotted blue; 
    padding: 10px;
    margin-right:20px ;
    width: 180px;
}
footer {
    background-color: blue;
    padding: 10px;
}

footer p {
    background-color: white;
    padding: 5px;
}
h1 {
    text-align: center;
    font-size: 60px;
}

nav{
    text-align: center;
    margin-top: 20px;
}
nav a {
    text-decoration: none;
    color: black;
    padding: 5px;
    margin: 50px;
    border-bottom: 5px solid black;
    font-size: 20px;
}
.shir {
  width: 350px;
  text-align: center;
      
}
h2 {
    text-align: center;
    color: blue;
}
.istr {
    background-color: #D3D3D3;
    border: 5px solid blue;
    font-family: sans-serif;
    font-size: 20px;
    border-radius: 15px;
       
}
.sim {
    background-color: #D3D3D3;
    border: 5px solid blue;
    font-family: sans-serif;
    font-size: 20px;
    border-top: 15px;
    border-bottom: 15px ;
}
.rek {
    background-color: #D3D3D3;
    border: 5px solid blue;
    font-family: sans-serif;
    font-size: 20px;
    border-right: 15px;
    border-left: 15px ;
}
